apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: geo-climate-models-pvc
  namespace: geo-climate
  labels:
    app: geo-climate
    type: models
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard-rwo
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: geo-climate-data-pvc
  namespace: geo-climate
  labels:
    app: geo-climate
    type: data
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: standard-rwo
